kestra/flows/tcr-enforcement-workflow.yml
id: tcr-enforcement-workflow
namespace: fire.flow

description: |
  Kestra workflow that orchestrates the TCR (Test-Driven Code Review) enforcement process.
  This workflow integrates with the TCR enforcer CLI to enforce TDD principles.

inputs:
  - id: file_path
    type: STRING
    description: Path to the file being changed

tasks:
  - id: status
    type: io.kestra.core.tasks.log.Log
    message: "Checking current TCR state for file: {{ inputs.file_path }}"

  - id: tdd-gate
    type: io.kestra.plugin.scripts.shell.Commands
    description: Run TDD gate check
    commands:
      - cd /home/lewis/src/Fire-Flow && ./bin/fire-flow tdd-gate --file {{ inputs.file_path }}
    output: true

  - id: run-tests
    type: io.kestra.plugin.scripts.shell.Commands
    description: Run tests if TDD gate allows
    commands:
      - cd /home/lewis/src/Fire-Flow && ./bin/fire-flow run-tests
    output: true
    condition: "{{ outputs.tdd-gate.exitCode == 0 }}"

  - id: commit
    type: io.kestra.plugin.scripts.shell.Commands
    description: Commit if tests pass
    commands:
      - cd /home/lewis/src/Fire-Flow && ./bin/fire-flow commit --message "TCR: Auto-commit from workflow"
    output: true
    condition: "{{ outputs.run-tests.exitCode == 0 }}"

  - id: revert
    type: io.kestra.plugin.scripts.shell.Commands
    description: Revert if tests fail
    commands:
      - cd /home/lewis/src/Fire-Flow && ./bin/fire-flow revert
    output: true
    condition: "{{ outputs.run-tests.exitCode != 0 }}"

- id: write-result
    type: io.kestra.core.tasks.files.WriteFile
    description: Write structured result for OpenCode integration
    content: |
      {
        "action": "{{
          if(outputs.tdd-gate.exitCode == 0,
            if(outputs.run-tests.exitCode == 0,
              'COMMITTED',
              'REVERTED'
            ),
            'BLOCKED'
          )
        }}",
        "reason": "TCR workflow completed for file: {{ inputs.file_path }}",
        "streak": "{{ if(outputs.commit.exitCode == 0, 1, 0) }}",
        "output": "File: {{ inputs.file_path }} - TDD Gate: {{ outputs.tdd-gate.exitCode }} - Tests: {{ outputs.run-tests.exitCode }} - Commit: {{ outputs.commit.exitCode }} - Revert: {{ outputs.revert.exitCode }}",
        "file_path": "{{ inputs.file_path }}",
        "timestamp": "{{ trigger.date }}",
        "success": "{{
          if(outputs.tdd-gate.exitCode == 0,
            if(outputs.run-tests.exitCode == 0,
              true,
              false
            ),
            false
          )
        }}",
        "test_results": {
          "tdd_gate_exit_code": "{{ outputs.tdd-gate.exitCode }}",
          "test_run_exit_code": "{{ outputs.run-tests.exitCode }}",
          "commit_exit_code": "{{ outputs.commit.exitCode }}",
          "revert_exit_code": "{{ outputs.revert.exitCode }}",
          "test_duration_seconds": "{{ if(outputs.run-tests.duration, outputs.run-tests.duration, 0) }}",
          "timestamp_iso": "{{ trigger.date }}",
          "workflow_id": "{{ trigger.workflowId }}",
          "execution_id": "{{ trigger.executionId }}",
          "file_size_bytes": "{{ if(outputs.tdd-gate.stdout, len(outputs.tdd-gate.stdout), 0) }}"
        }
      }
    path: "{{ workingDir }}/result.json"