kestra/flows/workflows/tcr-cycle.yml
id: tcr-cycle
namespace: fire.flow.workflows

description: |
  TCR (Test && Commit || Revert) Main Orchestration Workflow

  This is the HEAVY ORCHESTRATOR pattern:
  - Kestra handles ONLY flow control, branching, retries
  - State passed via workflow context (not files)
  - Declarative error handling
  - Visual debugging in Kestra UI

  Uses OpenCode with Qwen3-Coder for AI-assisted fixes when tests fail.

  Based on AWS Step Functions best practices:
  - Replace Lambda orchestrator with Step Functions
  - Use Choice states for branching
  - Tasks are stateless, single-purpose

  Flow:
    1. Load current state
    2. Run tests
    3. IF tests pass → Commit changes
    4. IF tests fail → Use OpenCode to fix, then retry or revert

inputs:
  - id: working_dir
    type: STRING
    defaults: /home/lewis/kestra/data/Fire-Flow
  - id: commit_message
    type: STRING
    defaults: "TCR: Auto-commit (tests passing)"
  - id: use_ai_fix
    type: BOOLEAN
    description: Use OpenCode+Qwen3 to attempt fixing test failures
    defaults: false

tasks:
  - id: log_start
    type: io.kestra.core.tasks.log.Log
    message: "Starting TCR cycle in {{ inputs.working_dir }}"

  - id: run_tests
    type: io.kestra.plugin.scripts.shell.Commands
    description: Execute tests and parse results
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    timeout: PT2M
    commands:
      - |
        cd "{{ inputs.working_dir }}"
        export HOME="/home/lewis"
        export PATH="/home/lewis/.local/share/mise/installs/go/1.25.5/bin:/home/lewis/.local/bin:/usr/bin:$PATH"
        export GOROOT="/home/lewis/.local/share/mise/installs/go/1.25.5"

        # Run tests
        echo "Running tests..."
        echo "Go location: $(which go 2>&1 || echo 'not found')"
        echo "Go version: $(go version 2>&1 || echo 'failed')"
        TEST_OUTPUT=$(go test -json -timeout 30s ./... 2>&1) || true
        echo "Test output lines: $(echo "$TEST_OUTPUT" | wc -l)"

        # Parse results (use tr to remove any newlines from grep -c output)
        FAILED_COUNT=$(echo "$TEST_OUTPUT" | /usr/bin/grep '"Action":"fail"' | /usr/bin/grep -c '"Test":' 2>/dev/null | tr -d '\n' || echo "0")
        EXECUTED_COUNT=$(echo "$TEST_OUTPUT" | /usr/bin/grep '"Action":"run"' | /usr/bin/grep -c '"Test":' 2>/dev/null | tr -d '\n' || echo "0")

        # Ensure they are numbers
        FAILED_COUNT=${FAILED_COUNT:-0}
        EXECUTED_COUNT=${EXECUTED_COUNT:-0}

        if [ "$FAILED_COUNT" -eq "0" ] && [ "$EXECUTED_COUNT" -gt "0" ]; then
          echo '::{"outputs":{"result":"PASSED","executed":'$EXECUTED_COUNT',"failed":'$FAILED_COUNT'}}::'
        else
          echo '::{"outputs":{"result":"FAILED","executed":'$EXECUTED_COUNT',"failed":'$FAILED_COUNT'}}::'
        fi

  - id: check_result
    type: io.kestra.plugin.core.flow.If
    condition: "{{ outputs.run_tests.vars.result == 'PASSED' }}"
    then:
      # GREEN PATH: Tests passed → Commit
      - id: log_green
        type: io.kestra.core.tasks.log.Log
        message: "✅ Tests PASSED - committing changes"

      - id: git_commit
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - |
            cd "{{ inputs.working_dir }}"
            export HOME="/home/lewis"
            git add -A
            if git diff --cached --quiet; then
              echo "Nothing to commit"
            else
              git commit -m "{{ inputs.commit_message }}"
              echo "Committed"
            fi

      - id: save_state_green
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - |
            STATE_FILE="{{ inputs.working_dir }}/.opencode/tcr/state.json"
            mkdir -p "$(dirname "$STATE_FILE")"
            cat > "$STATE_FILE" << 'EOF'
            {"version":"2.0","lastTestResult":true,"lastTestTime":"'$(date -Iseconds)'"}
            EOF
            echo "State saved: GREEN"

    else:
      # RED PATH: Tests failed → Revert (or AI fix if enabled)
      - id: log_red
        type: io.kestra.core.tasks.log.Log
        message: "❌ Tests FAILED - reverting changes"

      - id: git_revert
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - |
            cd "{{ inputs.working_dir }}"
            export HOME="/home/lewis"
            echo "Reverting:"
            git status --short
            git reset --hard HEAD
            git clean -fd
            echo "Reverted to HEAD"

      - id: save_state_red
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - |
            STATE_FILE="{{ inputs.working_dir }}/.opencode/tcr/state.json"
            mkdir -p "$(dirname "$STATE_FILE")"
            cat > "$STATE_FILE" << 'EOF'
            {"version":"2.0","lastTestResult":false,"lastTestTime":"'$(date -Iseconds)'"}
            EOF
            echo "State saved: RED"

  - id: log_complete
    type: io.kestra.core.tasks.log.Log
    message: "TCR cycle complete"

errors:
  - id: handle_error
    type: io.kestra.core.tasks.log.Log
    message: "TCR cycle failed: {{ error.message }}"
