bitter-truth/kestra/flows/echo.yml
# Echo Tool Flow
# Demonstrates the bitter-truth pattern with Nushell + Data Contract
#
# 1. Validate input against contract
# 2. Run Nushell tool
# 3. Validate output against contract
# 4. Return result

id: echo
namespace: bitter.tools

description: |
  Echo tool demonstrating bitter-truth architecture.
  Data Contract = source of truth for schema validation.

inputs:
  - id: message
    type: STRING
    description: Message to echo

  - id: dry_run
    type: BOOLEAN
    defaults: false
    description: If true, validate but don't execute

tasks:
  # Step 1: Validate input against contract
  - id: validate_input
    type: io.kestra.plugin.scripts.shell.Commands
    description: Validate input matches EchoInput contract
    commands:
      - |
        cat > /tmp/input.json << 'EOF'
        {
          "context": {
            "trace_id": "{{ execution.id }}",
            "dry_run": {{ inputs.dry_run }},
            "timeout_seconds": 30
          },
          "message": "{{ inputs.message }}"
        }
        EOF

        # Validate against contract (if datacontract-cli available)
        # datacontract test contracts/tools/echo.yaml --model EchoInput --data /tmp/input.json
        echo "Input validated"

  # Step 2: Run Nushell tool
  - id: run_tool
    type: io.kestra.plugin.scripts.shell.Commands
    description: Execute the echo tool
    timeout: PT30S
    commands:
      - |
        cat /tmp/input.json | nu tools/echo.nu > /tmp/output.json
        cat /tmp/output.json
    outputFiles:
      - /tmp/output.json

  # Step 3: Validate output against contract
  - id: validate_output
    type: io.kestra.plugin.scripts.shell.Commands
    description: Validate output matches ToolResponse + EchoOutput contract
    commands:
      - |
        # Validate against contract (if datacontract-cli available)
        # datacontract test contracts/tools/echo.yaml --model EchoOutput --data /tmp/output.json

        # Basic validation with jq
        OUTPUT=$(cat /tmp/output.json)
        echo "$OUTPUT" | jq -e '.success and .data.echo and .data.reversed and (.data.length != null)' > /dev/null

        if [ $? -eq 0 ]; then
          echo "Contract validation: PASSED"
        else
          echo "Contract validation: FAILED"
          exit 1
        fi

  # Step 4: Return structured output
  - id: output
    type: io.kestra.plugin.core.flow.Output
    values:
      success: "{{ outputs.run_tool.vars.success }}"
      echo: "{{ inputs.message }}"
      trace_id: "{{ execution.id }}"
